@page "/"
@inject NavigationManager navigationManager
<h1>Customer Search</h1>
<form name="formOne" method="post">
    <div>
        Customer ID :
        <input type="text" @bind="@CurrentValue" @oninput="@((e) => { CurrentValue=(string)e.Value;})" />
        <input type="submit" placeholder="Find" @onclick="Button_Click" />
    </div>
</form>




